{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- /HEADER -->
<!-- /PAGE INTRO -->
<div class="topSingleBkg topPageBkg">
	<div class="container">
		<div class="inner-desc">
			<h1 class="post-title single-post-title">Contact</h1>
		</div>
	</div>
</div>
<!-- /PAGE INTRO -->
<!-- CONTENT -->
<div id="wrap-content" class="page-holder custom-page-template">
	<!-- SECTION 1-->
	<div class="container">
		<div class="row">
			<div class="col-lg-6 margin-bm54">
				<h3 class="margin-b24">Contact Details</h3>
				<p>If you have questions or comments, please don't hesitate to contact us. Aenean massa. Cum sociis
					natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<div class="margin-bm54"></div>
				<h5 class="widgettitle widget-left margin-b24">Phone</h5>
				<p>+964 774 444 3118</p>
				<h5 class="widgettitle widget-left margin-b24">Email</h5>
				<p>kararabdullah11k@gmail.com</p>
			</div>
			
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
	<!-- /SECTION 1-->
	<!-- SECTION 2-->
	
	<!-- /SECTION 2-->
</div>
<!-- /CONTENT -->
{% endblock %}