{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- /PAGE INTRO -->
<div class="topSingleBkg topPageBkg">
	<div class="container">
		<div class="inner-desc">
			<h1 class="post-title single-post-title">About Me</h1>
		</div>
	</div>
</div>
<!-- /PAGE INTRO -->
<!-- CONTENT -->
<div id="wrap-content" class="page-holder custom-page-template">
	<!-- SECTION 1-->
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 margin-bm54">
				<img class="img-fluid" src="{% static 'images/IMG_1450.JPG' url %}" alt="" />
			</div>
			<div class="col-lg-6">
				<div class="section-info">
					<h2 class="page-inner-title">Hi,I am Karar Abdullah</h2>
					<p>a photographer specializing in capturing unique moments. My goal is to transform every moment into a visual story that reflects beauty and detail.</p>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->

	<!-- SECTION 4-->
	<div class="container">
		<div class="row section-holder">
			
			<!-- /col-lg-4 -->
			<div class="col-lg-4">
				<div class="featured-box margin-bm54">
					<h5 class="widgettitle margin-b24">Phone</h5>
					<p>+964 774 444 3118</p>
				</div>
			</div>
			<!-- /col-lg-4 -->
			<div class="col-lg-4">
				<div class="featured-box">
					<h5 class="widgettitle margin-b24">Email</h5>
					<p>kararabdullah11k@gmail.com</p>
				</div>
			</div>
			<!-- /col-lg-4 -->
		</div>
	</div>
	<!-- /SECTION 4-->
</div>
<!-- /CONTENT -->

{% endblock %}