
{% extends 'base.html' %}
{% load static %}
{% block body %}
		<!-- /PAGE INTRO -->
		<div class="topSingleBkg topPageBkg">
			<div class="container">
				<div class="inner-desc">
					<h1 class="post-title single-post-title">Portfolio</h1>
				</div>
			</div>
		</div>
		<!-- /PAGE INTRO -->
		<!-- PORTFOLIO ALBUMS -->
		<div id="wrap-content" class="page-content">
			<div class="container">
				<div class="row portfolio-items">
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-masonry.html"> <img src="images/portfolio/featured-images/gal-1-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-masonry.html">Sara &amp; John</a></h2>
								<ul class="portfolio-categ">
									<li>Weddings</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-masonry-fullwidth.html"> <img src="images/portfolio/featured-images/gal-2-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-masonry-fullwidth.html">Alice &amp; Mike</a></h2>
								<ul class="portfolio-categ">
									<li>Weddings</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-1-2-cols.html"> <img src="images/portfolio/featured-images/gal-3-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-1-2-cols.html">Jane &amp; Paul</a></h2>
								<ul class="portfolio-categ">
									<li>Weddings</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-3-cols.html"> <img src="images/portfolio/featured-images/gal-4-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-3-cols.html">Street Photos</a></h2>
								<ul class="portfolio-categ">
									<li>Portraits</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-4-cols.html"> <img src="images/portfolio/featured-images/gal-5-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-4-cols.html">New Look</a></h2>
								<ul class="portfolio-categ">
									<li>Portraits</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-masonry.html"> <img src="images/portfolio/featured-images/gal-6-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-masonry.html">Black &amp; White</a></h2>
								<ul class="portfolio-categ">
									<li>Portraits</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-3-cols-fullwidth.html"> <img src="images/portfolio/featured-images/gal-7-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-3-cols-fullwidth.html">Seaside</a></h2>
								<ul class="portfolio-categ">
									<li>Nature</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="blog-item-masonry">
							<div class="slider-img"> <a href="gallery-4-cols-fullwidth.html"> <img src="images/portfolio/featured-images/gal-8-450x600.jpg" class="img-fluid" alt="" > </a></div>
							<div class="slider-caption">
								<h2><a href="gallery-4-cols-fullwidth.html">Landscapes</a></h2>
								<ul class="portfolio-categ">
									<li>Nature</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		{% endblock %}
